.char-info {

  &__col-1, &__col-2 {
    border: $main-border;
    padding: 10px 15px;
  }

  &__name {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  &__name, &__col-2 p {
    color: $hw-font-color;
    text-align: center;
  }

  &__col-2 p {
    border-bottom: $secondary-border;
  }

  &__col-2 h3 {
    font-size: 1rem;
    font-family: $secondary-font;
    color: $main-font-color;
  }

  // Breakpoints
  .info p {
    @include breakpoint-up(medium) {
      text-align: left;
    }
  }

  @include breakpoint-up(large) {
    display: flex;
    flex-wrap: wrap;
  }

  &__name {
    @include breakpoint-up(large) {
      font-size: 4vw;
    }
  }

  .large-char-info-right {
    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row;
      flex: 55%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      // margin-bottom: 0;
    }
  }

  .large-char-info-right:last-child p
   {
    @include breakpoint-up(large) {
      width: 100%;
    }
  }

  .info {
    @include breakpoint-up(large) {
      width: 50%;
    }
  }
}