html {
  font-size: 100%;
  box-sizing: border-box;
  cursor: url('../images/icons8-dragon-48.png'), auto;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: url('../images/tim-mossholder-J0sMjGu6jvQ-unsplash.jpg');
  background-size: cover;
}

section {
  margin-bottom: 15px;
}

p {
  font-family: $hw-font, sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: $main-font;
  font-size: 1.6rem;
}

h1, h2, h3 {
  color: $main-font-color;
}