html {
  font-size: 100%;
  box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  margin-bottom: 15px;
}

.scale-effect {
  transition: 0.3s ease-in-out;
}

// Scale effect Breakpoint for large screens

.scale-effect:hover {
  @include breakpoint-up(large) {
    background-color: rgba(127, 51, 0, 10%);
    transform: scale(1.05);
  }
  
}

p {
  font-family: $hw-font, sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: $main-font;
  font-size: 1.6rem;
}

h1, h2, h3 {
  color: $main-font-color;
}