.projects-about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

// Projects Section
.projects-carousel {
  border: $main-border;
  padding: 10px 10px 35px;
  width: 100%;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
}

// Flickity Carousel Styles
.carousel {
  width: 100%;
}

.carousel img {
  display: block;
  width: 100%;
  margin-right: 50px;
}

// About Section
.about-me {
  border: $main-border;

  h1 {
    text-align: center;
    margin-top: 10px;
  }

  &__bio-text {
    font-family: $hw-font;
    padding: 15px;
  }
}

// Breakpoints

// Desktop Styles
.projects-carousel, .about-me {
  @include breakpoint-up(large) {
    flex: 1;
  }
}

.about-me {
  @include breakpoint-up(large) {
    flex: 1;
    margin-left: 15px;
  }
}
