// Fonts
$main-font: 'Pirata One', cursive;
$secondary-font: 'Roboto', sans-serif;
$hw-font: 'Caveat', cursive;;

// Colors
$main-font-color: #7F3300;
$hw-font-color: rgb(51, 51, 51);
$para-bg-color: rgba(141, 171, 186, 50%);

// Borders
$main-border: 4px double #8dabba;
$secondary-border: 2px solid #8dabba;