// Fonts
$main-font: 'Pirata One', cursive;
$secondary-font: 'Roboto', sans-serif;
$hw-font: 'Caveat', cursive;;

// Colors
$main-font-color: rgb(127, 51, 0);
$hw-font-color: rgb(51, 51, 51);
$para-bg-color: rgba(141, 171, 186, 50%);

// Borders
$main-border: 4px double rgba(141, 171, 186, 40%);
$secondary-border: 2px solid rgba(141, 171, 186, 40%);